<%= link_to 'New Post', new_post_path, class: 'fa fa-plus' %>


<% @posts.each do |post| %>
<div class="post">
	<div class="post-title"><%= post.title %></div>
	<div class="post-description"><%= post.description %></div>
	<div class="post-address"><%= post.address %></div>
	<div class="post-show fa fa-eye"><%= link_to 'View', post %></div>
</div>
<% end %>

