<h2 class="subheader">
  Find Your Treasure
</h2>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-image">
      <% image = post.images.first %>
      <% image = image.pic.url if image  %>
      <% if image %>
        <%= image_tag image %>
      <% else %>
        <%= image_tag "missing.jpg" %>
      <% end %>
    </div>
  	<div class="post-title"><%= post.title %></div>
  	<div class="post-description"><%= post.description %></div>
  	<div class="post-address"><%= post.address %> <a href="http://maps.google.com/?q=<%= post.address %>" target="_blank" class="fa fa-map-marker" title="View on map"> </a></div>
  	<div class="post-show fa fa-eye"> <%= link_to 'View', post %></div>
  </div>
<% end %>

