<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>GOOD 4 Art <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>

  	<%= stylesheet_link_tag    "application" %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/assets/favicon.ico">
  </head>

  <body>
    <header>
      <nav class="top-bar"  data-topbar="is_hover: true">
        <ul class="title-area">
          <li class="name small-offset-2 columns 2">
            <h1 id="nav-title">
              <a href="/"><%= image_tag "logo.png", width: "190px" %></a>
            </h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right columns small-4">
            <li>
              <a href="/posts/new" class='fa fa-plus top-link-1'>
                <span class="hide-link">
                  New Post
                </span>
              </a>
            </li>
            <li>
              <% if !current_user && controller_name != 'sessions' %>
                <a href="/users/sign_in/" class='fa fa-sign-in'>
                  <span class="hide-link">
                    Sign In
                  </span>
                </a>
              <% else %>
                <a class='nav-link fa fa-sign-out'>
                  <span class="hide-link">
                    Sign Out
                  </span>
                </a>
              <% end %>
            </li>
          </ul>
        </section>
      </nav>
    </header>
    <div class="row">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
